In [ ]:
# Practical Questions:

In [3]:
# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

def sum_even_numbers(numbers):
    sum_even = 0
    for num in numbers:
        if num % 2 == 0:
            sum_even += num
    return sum_even
nums = [10, 15, 20, 25, 30]
result = sum_even_numbers(nums)
print("Sum of even numbers:", result)

Sum of even numbers: 60

In [5]:
# 2. Create a Python function that accepts a string and returns the reverse of that string.

def reverse_string(text):
    return text[::-1]

result = reverse_string("hello")
print("Reversed string:", result)

Reversed string: olleh

In [6]:
# 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

def square_numbers(numbers):
    return [x ** 2 for x in numbers]
nums = [1, 2, 3, 4, 5]
result = square_numbers(nums)
print("Squared numbers:", result)

Squared numbers: [1, 4, 9, 16, 25]

In [12]:
# 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(19))
print(is_prime(100))

True
False

In [14]:
# 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        self.count += 1
        self.a, self.b = self.b, self.a + self.b
        return self.a

for num in Fibonacci(10):
    print(num, end=' ')

1 1 2 3 5 8 13 21 34 55

In [15]:
# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

def powers_of_two(n):
    for i in range(n + 1):
        yield 2 ** i
for power in powers_of_two(5):
    print(power, end=' ')

1 2 4 8 16 32

In [30]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string.

def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()


try:
    for line in read_file_lines('Panchanand'):
        print(line)
except FileNotFoundError:
    print("Error: 'Panchanand' not found. Please create the file or provide the correct path.")

This is the first line.
This is the second line.
This is the third line.

In [32]:
# 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

data = [(1, 5), (3, 1), (4, 3), (2, 2)]
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(3, 1), (2, 2), (4, 3), (1, 5)]

In [33]:
# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print("Fahrenheit:", fahrenheit)

Fahrenheit: [32.0, 50.0, 68.0, 86.0, 104.0]

In [35]:
# 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

def remove_vowels(text):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda ch: ch not in vowels, text))
input_str = "My name is Panchanad"
result = remove_vowels(input_str)
print("Without vowels:", result)

Without vowels: My nm s Pnchnd

In [37]:
# # 11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

# Order Number          Book title and author                        Quantity       Price per item
# 34587                       Learning Python, Mark lutz                    4             40.90
# 98762                       Programing Python, Mark Lutz                  5             56.80
# 77226                       Head first Python, Paul Barry                 3	            32.95
# 88112                       Einführung in Python 3, Bernd Klein           3             24.99

# Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
# product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
# order is smaller than 100,00 €.

# Write a Python program using lambda and map.


# List of book orders: [Order Number, Book Title, Quantity, Price per item]
orders = [ [34587, "Learning Python, Mark Lutz", 4, 40.90],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python 3, Bernd Klein", 3, 24.99]]

# Map with lambda to calculate total cost (with €10 added if < €100)
result = list(map(
    lambda order: (
        order[0],
        round(order[2] * order[3], 2) if order[2] * order[3] >= 100
        else round(order[2] * order[3] + 10, 2)),orders))


print(result)

[(34587, 163.6), (98762, 284.0), (77226, 108.85), (88112, 84.97)]